---
---

@import "{{ site.theme }}";

/* Import the Architects Daughter font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');


/* Custom font for headers */
h1, h2, h3, h4, h5, h6 {
  font-family: "Architects Daughter", sans-serif; /* Replace with your desired font family */
}

/* Custom style for the ::before pseudo-element of h1 */
h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
  padding-right: 0.3em;
  margin-left: -0.9em;
  color: #9ddcff;
  content: "/";
}

