---
---

@import "{{ site.theme }}";

/* Import the Architects Daughter font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');


/* Custom font for headers */
h1, h2, h3, h4, h5, h6 {
  font-family: "Architects Daughter", sans-serif; /* Replace with your desired font family */
}

/* Custom style for the ::before pseudo-element of h1 */
h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
  padding-right: 0.3em;
  margin-left: -0.9em;
  color: #9ddcff;
  content: "/";
}

/* Custom styling for the navigation bar */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  display: inline-block;
  padding: 20px 30px; /* Increase the padding to make the buttons larger */
  background-color: #c7e03b; /* Replace with your desired background color */
  color: #fff; /* Replace with your desired text color */
  text-decoration: none;
  border-radius: 5px;
  font-size: 38px; /* Increase the font size to make the text larger */
}

nav a:hover {
  background-color: #5677fc; /* Replace with your desired background color on hover */
}

/* Add a white border around navigation buttons */
nav a {
  border: 2px solid #fff; /* Replace with your desired border color */
}


#sidebar figure {
  float: left;
  width: 100%;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  // border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
}

aside#sidebar img {
  width: 100%; /* Scale the image to fill the figure container width */
  height: auto; /* Maintain the image's aspect ratio */
}




// ================================
// flip menu position to the left
aside#sidebar {
  float: left;
  padding-right: 30px;
  padding-left: 0px;
}
#main-content { float: right; }
#sidebar .button { text-align: left; } //  text-align: center looks also good
// ================================


// ================================
// danger zone: Scale the width of the entire webpage:
.inner { position: relative; width: 65%; margin: 0 auto; }
body {align-self: center; font-size: 18px}
#main-content { float: right; width: 73%; margin-left: 10px; }
aside#sidebar { float: left; width: 22%; }


// ========= Profile picture =======================================

aside #profile-picture {font-size: large; font-style: normal;}


// ========= Custom Banner   =======================================

header {background-size: cover};


// ======= Straight navigation menu style  =========================


aside a.button { display: block; width: 138px; padding-left: 64px; text-indent: 10px; margin-bottom: 20px; margin-top: 20px; font-size: 21px; background: transparent url(../images/navigation-button-unhovered.png) 0 0 no-repeat; }
aside a.button:hover {
  background-image: url(../images/navigation-button-hovered.png); /* Replace with the path to the second hover graphic */
}


// ======= Quer navigation menu style  =========================

header .social-button-container { position: absolute; top: 0; right: 0; text-align: center; }
// header a.button { position: relative; display: inline-block; background: transparent url(../images/github-button.png) 0 0 no-repeat; }
header .navigation-container {position: relative; top: 0; float: right; transform-origin: right; transform: scale(1, 1);}
nav a { position: relative; display: inline-flex; /* width: 138px; */ padding-left: 55px; text-indent: 10px; text-align: left; text-decoration: underline; margin-bottom: 0px; margin-top: -40px; font-size: 38px; border: none; background: transparent none no-repeat left center;
} // background: transparent url(../images/implication.png) no-repeat left center;  

nav a:hover { background: transparent url(../images/implication.png) no-repeat left center; color: #c7e03b;  background-size: 48px 30px; } // #abe0f3

// header a.button:hover {} //transform-origin: left; transform: rotate(90deg);


